<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a class = "btn btn-danger" href="/">Back to Form</a>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <td>Brand</td>
                        <td>Size</td>
                        <td>Type</td>
                        <td>Price</td>
                    </thead>
                    <tbody>
                        {% for sneaker in all_sneakers %}
                        <tr>
                            <td>{{ sneaker.brand }}</td>
                            <td>{{ sneaker.size }}</td>
                            <td>{{ sneaker.type }}</td>
                            <td>${{ sneaker.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>